.carousel-control-next{
    width: 60px;
    height: 60px;
    background-color: black;
}

.carousel-control-next-icon{
    width: 60px;
    height: 60px;
    background-color: black;
}

.carousel-control-prev{

}

.carousel-control-prev-icon{

}

