.jumbotron{
    background-color: #EEEEEE;
    border-radius: 20px;
}

body{
    background-color: #222222;
}

.display-4{
    text-align: center;
    position: relative;
    font-size: 50px;
    z-index: 1;
    overflow: hidden;
    color: #007bff;
    padding: 10px;
}

.display-4:before, .display-4:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: #007bff;
}

.display-4:before {
    margin-left: -50%;
    text-align: right;
}



.img-render{
    width: 60%;
    height: auto;
    border-radius:20px;
}

.card-header{
    background-color: #BABABA;
}

.card-body{
    background-color: #F5F5F5;
}


@media (min-width: 1280px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
    .navbar-expand-custom .navbar-nav .dropdown-menu {
        position: absolute;
    }
}