{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}

<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic'>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='newspaper.css') }}">


<h1 style="position: absolute; top: 240px; left: 50px; font-family: 'Playfair Display', serif; font-size: 600%;">Created by</h1>
<h1 style="position: absolute; top: 340px; left: 50px; font-family: 'Playfair Display', serif; font-size: 600%;">Evan Seeyave</h1>

<h1 style="position: absolute; top: 240px; right: 50px; font-family: 'Playfair Display', serif; font-size: 600%;">Thanks for</h1>
<h1 style="position: absolute; top: 340px; right: 50px; font-family: 'Playfair Display', serif; font-size: 600%;">Visiting!</h1>


<div style="text-align: center; position: relative; top: 655px;">
    <p style="font-family: 'Droid Serif', serif; font-size: 100%;">Special thanks to Bootstrap toolkit, mdbootstrap, JHEY, and Silke V for frontend styles.</p>
</div>



{% endblock %}