{% extends "base.html" %}
{% block title %}Home{% endblock %}



{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='carousel.css') }}">       <!--Has to be linked in the block content-->


{% with messages = get_flashed_messages() %}
    {% if messages %}                           <!--If there are messages-->
      <br>
        {% for msg in messages %}
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">There is an error:</h1>
                <p style="text-align:center;">{{msg}}</p>
              </div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}



<br>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="font-size:7em;">
      <span>Welcome to </span><!--
      --><span><a href="{{ url_for('cat', category='Sports') }}" style="color: #5680E9;">S</a></span><!--
      --><span><a href="{{ url_for('cat', category='Entertainment') }}" style="color: #84CEEB;">E</a></span><!--
      --><span><a href="{{ url_for('cat', category='Technology') }}" style="color: #8860D0;">T</a></span><!--
      --><span>View</span>
    </h1>
    <p style="text-align:center;font-size:2.5em;">
      <span>Your clean and personalized source of </span><!--
      --><span><a href="{{ url_for('cat', category='Sports') }}" style="color: #5680E9;">Sports</a></span><!--
      --><span>, </span><!--
      --><span><a href="{{ url_for('cat', category='Entertainment') }}" style="color: #84CEEB;">Entertainment</a></span><!--
      --><span>, and </span><!--
      --><span><a href="{{ url_for('cat', category='Technology') }}" style="color: #8860D0;">Technology</a></span><!--
      --><span> news today</span>
    </p>
  </div>
</div>





<div class="container my-4">

  <hr class="my-4">

  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" data-interval="3500">

    <a class="carousel-control-prev" href="#multi-item-example" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="false"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#multi-item-example" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="false"></span>
      <span class="sr-only">Next</span>
    </a>


    <ol class="carousel-indicators"  style="pointer-events: none">                        <!--This was interfering with the href buttons below-->
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>



    <!--Slides-->
    <div class="carousel-inner"  role="listbox">

      <!--First slide-->
      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="{{rtn[0]['urlToImage']}}" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">{{rtn[0]['title']}}</h4>
              </div>
              <a class="btn btn-primary" href="{{rtn[0]['url']}}">Read More</a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="{{rtn[1]['urlToImage']}}" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">{{rtn[1]['title']}}</h4>
              </div>
              <a class="btn btn-primary" href="{{rtn[1]['url']}}">Read More</a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="{{rtn[2]['urlToImage']}}" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">{{rtn[2]['title']}}</h4>
              </div>
              <a class="btn btn-primary" href="{{rtn[2]['url']}}">Read More</a>
            </div>
          </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="{{rtn[3]['urlToImage']}}" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">{{rtn[3]['title']}}</h4>
              </div>
              <a class="btn btn-primary" href="{{rtn[3]['url']}}">Read More</a>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="{{rtn[4]['urlToImage']}}" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">{{rtn[4]['title']}}</h4>
              </div>
              <a class="btn btn-primary" href="{{rtn[4]['url']}}">Read More</a>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="{{rtn[5]['urlToImage']}}" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">{{rtn[5]['title']}}</h4>
              </div>
              <a class="btn btn-primary" href="{{rtn[5]['url']}}">Read More</a>
            </div>
          </div>
        </div>

      </div>
      <!--/.Second slide-->

      <!--Third slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="{{rtn[6]['urlToImage']}}" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">{{rtn[6]['title']}}</h4>
              </div>
              <a class="btn btn-primary" href="{{rtn[6]['url']}}">Read More</a>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="{{rtn[7]['urlToImage']}}" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">{{rtn[7]['title']}}</h4>
              </div>
              <a class="btn btn-primary" href="{{rtn[7]['url']}}">Read More</a>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="{{rtn[8]['urlToImage']}}" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">{{rtn[8]['title']}}</h4>
              </div>
              <a class="btn btn-primary" href="{{rtn[8]['url']}}">Read More</a>
            </div>
          </div>
        </div>

      </div>
      <!--/.Third slide-->

    </div>
    <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->


</div>



<br>
<br>




<div>
  <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('top') }}">Go to Top News Now!</a>
  {% if "page" in session %}
    <a class="btn btn-secondary btn-lg btn-block" href="{{ url_for('all_things', page_number=session['page']) }}">Look at all Headlines</a>
  {% else %}
    <a class="btn btn-secondary btn-lg btn-block" href="{{ url_for('all_things', page_number=1) }}">Look at all Headlines</a>
  {% endif %}
</div>

<br>
<br>
{% endblock %}