{% extends "base.html" %}
{% block title %}List of Sources{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}                           <!--If there are messages-->
            <br>
            {% for msg in messages %}
                <div class="jumbotron jumbotron-fluid">
                  <div class="container">
                    <h1 class="display-4" style="text-align:center;">There is an error:</h1>
                    <p style="text-align:center;">{{msg}}</p>
                  </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

<br>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align:center; font-size:10em;">Sources</h1>
    <p style="text-align:center; font-size:2.5em;">Here is a list of Technology, Entertainment, and Sports sources you can search by</p>
  </div>
</div>


{% for source in sources %}
<!--    <h4 style="color: white">{{source['name']}}: {{source['id']}}</h4>-->
    <a class="btn btn-primary" href="{{ url_for('source_searcher', source=source['id']) }}" style="margin-bottom: 1.5em;">Name:{{source['name']}} &nbsp; ID:{{source['id']}}</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% endfor %}


<br>
<br>

{% endblock %}