{% extends "base.html" %}
{% block title %}List of Sources{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}                           <!--If there are messages-->
            <br>
            {% for msg in messages %}
                <div class="jumbotron jumbotron-fluid">
                  <div class="container">
                    <h1 class="display-4" style="text-align:center;">There is an error:</h1>
                    <p style="text-align:center;">{{msg}}</p>
                  </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

<br>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align:center; font-size:10em;">Sources</h1>
    <p style="text-align:center; font-size:2.5em;">Here is a list of Technology, Entertainment, and Sports sources you can search by</p>
  </div>
</div>


<div style="text-align: center;">
    {% for source in sources %}
        <a class="btn btn-primary" href="{{ url_for('source_searcher', source=source['id'], page_number=1) }}" style="margin-bottom: 1.5em; text-align: center; display: inline-block;">Name: {{source['name']}} &nbsp; ID: {{source['id']}}</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% endfor %}
</div>


<br>
<br>

{% endblock %}