{% extends "base.html" %}
{% block title %}List of Preferences{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}                           <!--If there are messages-->
            {% for msg in messages %}
                <div class="jumbotron jumbotron-fluid">
                  <div class="container">
                    <h1 class="display-4" style="text-align:center;">There is an error:</h1>
                    <p style="text-align:center;">{{msg}}</p>
                  </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

<br>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align:center; font-size:10em;">Preferences</h1>
    <p style="text-align:center; font-size:2.5em;">Select the news you are interested in</p>
  </div>
</div>


<form action="{{ url_for('set_preferences') }}" method="POST">

</form>


<br>
<br>

{% endblock %}