{% extends "base.html" %}
{% block title %}Search by Topic{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}                           <!--If there are messages-->
            <br>
            {% for msg in messages %}
                <div class="jumbotron jumbotron-fluid">
                  <div class="container">
                    <h1 class="display-4" style="text-align:center;">There is an error:</h1>
                    <p style="text-align:center;">{{msg}}</p>
                  </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

<br>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align:center; font-size:10em;">News by Topic</h1>
    <p style="text-align:center; font-size:2.5em;">Your search results for {{}}:</p>
  </div>
</div>


{% for article in articles %}
<div class="card text-center">
  <div class="card-header" style="font-size:2em;">
    {{article['source']['name']}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{article['title']}}</h5>
    <a href="{{article['url']}}" class="btn btn-primary">Go to Article</a>
    <br>
    {% if article['urlToImage'] == None %}                       <!--Jinja does not support len() function-->
    {% else %}
        <br>
        <br>
        <img src="{{article['urlToImage']}}" style="width:800px; height:auto; border-radius:20px;">
        <br>
        <br>
    {% endif %}
    <br>
    <p class="card-text" style="font-size:1.5em;">{{article['description']}}</p>
  </div>
  <div class="card-footer text-muted">
      {{article['publishedAt'][0:article['publishedAt'].find("T")]}}
  </div>
</div>

<br>
<br>
<br>
<br>
{% endfor %}

{% endblock %}